In [ ]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [ ]:
# Reading data from csv using pandas
data = pd.read_csv('train.csv', sep=',')
data_test = pd.read_csv('test.csv', sep=',')

In [ ]:
data.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [ ]:
data.describe(include=['O'])

                          Name   Sex  Ticket        Cabin Embarked
count                      891   891     891          204      889
unique                     891     2     681          147        3
top     Eklund, Mr. Hans Linus  male  347082  C23 C25 C27        S
freq                         1   577       7            4      644

In [ ]:
data[['Parch', 'Survived']].groupby(['Parch'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   Parch  Survived
3      3  0.600000
1      1  0.550847
2      2  0.500000
0      0  0.343658
5      5  0.200000
4      4  0.000000
6      6  0.000000

In [ ]:
train_df = data.drop(['Ticket', 'Cabin'], axis=1)
test_df = data_test.drop(['Ticket', 'Cabin'], axis=1)
combine = [train_df, test_df]

In [ ]:
for dataset in combine:
  dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)
pd.crosstab(train_df['Title'], train_df['Sex'])

Sex       female  male
Title
Capt           0     1
Col            0     2
Countess       1     0
Don            0     1
Dr             1     6
Jonkheer       0     1
Lady           1     0
Major          0     2
Master         0    40
Miss         182     0
Mlle           2     0
Mme            1     0
Mr             0   517
Mrs          125     0
Ms             1     0
Rev            0     6
Sir            0     1

In [ ]:
for dataset in combine:
    dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col',\
 	'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')

    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')
    
train_df[['Title', 'Survived']].groupby(['Title'], as_index=False).mean()

    Title  Survived
0  Master  0.575000
1    Miss  0.702703
2      Mr  0.156673
3     Mrs  0.793651
4    Rare  0.347826

In [ ]:
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}
for dataset in combine:
  dataset['Title'] = dataset['Title'].map(title_mapping)
  dataset['Title'] = dataset['Title'].fillna(0)
train_df.head()

   PassengerId  Survived  Pclass  ...     Fare Embarked  Title
0            1         0       3  ...   7.2500        S      1
1            2         1       1  ...  71.2833        C      3
2            3         1       3  ...   7.9250        S      2
3            4         1       1  ...  53.1000        S      3
4            5         0       3  ...   8.0500        S      1

[5 rows x 11 columns]

In [ ]:
train_df = train_df.drop(['Name', 'PassengerId'], axis=1)
test_df = test_df.drop(['Name'], axis=1)
train_df.shape, test_df.shape
combine = [train_df, test_df]

In [ ]:
for dataset in combine:
  dataset['Sex'] = dataset['Sex'].map({'female': 1, 'male': 0}).astype(int)
train_df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked  Title
0         0       3    0  22.0      1      0   7.2500        S      1
1         1       1    1  38.0      1      0  71.2833        C      3
2         1       3    1  26.0      0      0   7.9250        S      2
3         1       1    1  35.0      1      0  53.1000        S      3
4         0       3    0  35.0      0      0   8.0500        S      1

In [ ]:
# Fill missing values of age based on the pclass, sex
# By mean of combitions of pclass and sex
# we have 3 pclass and 2 sex  which form a combination of 6
guess_ages = np.zeros((2,3))
for dataset in combine:
  for i in range(0, 2):
    for j in range(0,3):
      guess_df = dataset[(dataset['Pclass'] == j+1) & (dataset['Sex'] == i)]['Age'].dropna()

      ages = guess_df.median()
      guess_ages[i,j] = int( ages/0.5 + 0.5 ) * 0.5
  for i in range(0, 2):
      for j in range(0, 3):
        dataset.loc[ (dataset.Age.isnull()) & (dataset.Sex == i) & (dataset.Pclass == j+1),\
                'Age'] = guess_ages[i,j]
  dataset['Age'] = dataset['Age'].astype(int)
train_df.head()

# to split age into bands
train_df['AgeBand'] = pd.cut(train_df['Age'], 5)
train_df[['AgeBand', 'Survived']].groupby(['AgeBand'], as_index=False).mean().sort_values(by='AgeBand', ascending=True)

# Normalize age
for dataset in combine:    
    dataset.loc[ dataset['Age'] <= 16, 'Age'] = 0
    dataset.loc[(dataset['Age'] > 16) & (dataset['Age'] <= 32), 'Age'] = 1
    dataset.loc[(dataset['Age'] > 32) & (dataset['Age'] <= 48), 'Age'] = 2
    dataset.loc[(dataset['Age'] > 48) & (dataset['Age'] <= 64), 'Age'] = 3
    dataset.loc[ dataset['Age'] < 64, 'Age']

train_df = train_df.drop(['AgeBand'], axis=1)
combine = [train_df, test_df]
train_df.head()

   Survived  Pclass  Sex  Age  SibSp  Parch     Fare Embarked  Title
0         0       3    0    1      1      0   7.2500        S      1
1         1       1    1    2      1      0  71.2833        C      3
2         1       3    1    1      0      0   7.9250        S      2
3         1       1    1    2      1      0  53.1000        S      3
4         0       3    0    2      0      0   8.0500        S      1

In [ ]:
freq_embarked = train_df.Embarked.dropna().mode()[0]
for dataset in combine:
  dataset['Embarked'] = dataset['Embarked'].fillna(freq_embarked)

train_df[['Embarked', 'Survived']].groupby(['Embarked'], as_index = False).mean().sort_values(by='Survived', ascending=False)

  Embarked  Survived
0        C  0.553571
1        Q  0.389610
2        S  0.339009

In [ ]:
for dataset in combine:
    dataset['Embarked'] = dataset['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)

train_df.head()

   Survived  Pclass  Sex  Age  SibSp  Parch     Fare  Embarked  Title
0         0       3    0    1      1      0   7.2500         0      1
1         1       1    1    2      1      0  71.2833         1      3
2         1       3    1    1      0      0   7.9250         0      2
3         1       1    1    2      1      0  53.1000         0      3
4         0       3    0    2      0      0   8.0500         0      1

In [ ]:

test_df['Fare'].fillna(test_df['Fare'].dropna().median(), inplace=True)
test_df.head()

   PassengerId  Pclass  Sex  Age  SibSp  Parch     Fare  Embarked  Title
0          892       3    0    2      0      0   7.8292         2      1
1          893       3    1    2      1      0   7.0000         0      3
2          894       2    0    3      0      0   9.6875         2      1
3          895       3    0    1      0      0   8.6625         0      1
4          896       3    1    1      1      1  12.2875         0      3

In [ ]:
combine = [train_df, test_df]
for dataset in combine:
  dataset['isAlone'] = 0
  dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch']
  dataset.loc[dataset['FamilySize'] == 1, 'isAlone'] = 1

In [ ]:
for dataset in combine:
  dataset['AgeClass'] = dataset['Pclass'] * dataset['Age']
train_df.loc[:,['Age', 'AgeClass']]

     Age  AgeClass
0      1         3
1      2         2
2      1         3
3      2         2
4      2         6
..   ...       ...
886    1         2
887    1         1
888    1         3
889    1         1
890    1         3

[891 rows x 2 columns]

In [ ]:
train_df.info()
train_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    891 non-null    int64
 1   Pclass      891 non-null    int64
 2   Sex         891 non-null    int64
 3   Age         891 non-null    int64
 4   SibSp       891 non-null    int64
 5   Parch       891 non-null    int64
 6   Fare        891 non-null    float64
 7   Embarked    891 non-null    int64
 8   Title       891 non-null    int64
 9   isAlone     891 non-null    int64
 10  FamilySize  891 non-null    int64
 11  AgeClass    891 non-null    int64
 12  custom      891 non-null    int64
dtypes: float64(1), int64(12)
memory usage: 90.6 KB

   Survived  Pclass  Sex  Age  ...  isAlone  FamilySize  AgeClass  custom
0         0       3    0    1  ...        1           1         3       5
1         1       1    1    2  ...        1           1         2       7
2         1       3    1    1  ...        0           0         3       7
3         1       1    1    2  ...        1           1         2       7
4         0       3    0    2  ...        0           0         6       6

[5 rows x 13 columns]

In [ ]:
# Get only sepcific columns
def processdata (data, label) :
  # Data normalization and converting pandas to numpy array
  temp = data[cols]
  temp['Fare'] = temp['Fare'].apply(lambda x:x / temp['Fare'].max()).round(2)
  # temp['Age'] = temp['Age'].apply(lambda x:x / temp['Age'].max()).round(2)
  # temp.fillna(value=0, inplace=True)
  
  temp = temp.to_numpy()
  # temp = temp / np.amax(temp, axis=0)
  if (label) :
    labels = data.loc[:, ['Survived']]
    return temp, labels.to_numpy()
  else :
    return temp

In [ ]:
train_df = train_df.sample(frac=1) # to shuffle
cols = ['Age', 'Sex', 'Pclass', 'Fare', 'Embarked', 'Title', 'isAlone', 'AgeClass']
input_data_n, labels_n = processdata(train_df, True) # to fill null values
test_data_n = processdata(test_df, False)
print(input_data_n.shape)
labels_n.shape
# input_data.loc[input_data.Age.notnull()] # Returns
# input_data = input_data.dropna(how='any') # To drop any rows that have missing data.

(891, 9)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

(891, 1)

In [ ]:
# hyper parameters
length = len(input_data_n)
split_size = 1

In [ ]:
length = len(input_data_n)
train_input = input_data_n[:int(length*split_size)]
train_label = labels_n[:int(length*split_size)]
test_input = input_data_n[int(length*split_size):]
test_label = labels_n[int(length*split_size):]
print(train_input.shape)
print(train_label.shape)
print(test_input.shape)
print(test_label.shape)

(891, 9)
(891, 1)
(0, 9)
(0, 1)

In [ ]:
classifiers = [ 
        SVC(), 
        GaussianNB(), 
        KNeighborsClassifier(), 
        Perceptron(), 
        LinearSVC(), 
        SGDClassifier(), 
        DecisionTreeClassifier(), 
        RandomForestClassifier()
      ]

In [ ]:
def getScores(validation):
  train_scores = []
  test_scores = []
  for clf in classifiers:
    clf.fit(train_input, train_label)
    train_scores.append(round(clf.score(train_input, train_label) * 100, 2))
    if (validation) :
       test_scores.append(round(clf.score(test_input, test_label) * 100, 2))
  return train_scores, test_scores

In [ ]:
def getSubmission (value):
  for clf in classifiers:
    if (clf.__class__.__name__ == value):
      print(clf.__class__.__name__)
      predictions = clf.predict(test_data_n)
  return predictions

In [ ]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(10, input_shape=[train_input.shape[1]], activation='relu'),
    tf.keras.layers.Dense(5, activation="relu"),
    tf.keras.layers.Dense(1, activation="sigmoid")
])
model.summary()

Model: "sequential_11"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_33 (Dense)             (None, 10)                100
_________________________________________________________________
dense_34 (Dense)             (None, 5)                 55
_________________________________________________________________
dense_35 (Dense)             (None, 1)                 6
=================================================================
Total params: 161
Trainable params: 161
Non-trainable params: 0
_________________________________________________________________

In [ ]:
optimizer = tf.keras.optimizers.Adam(learning_rate=0.01)
model.compile(optimizer=optimizer, loss='binary_crossentropy', metrics=['acc'])

In [ ]:
#history = model.fit(train_input, train_label, validation_data=(test_input, test_label), epochs=500, verbose=2)
history = model.fit(train_input, train_label, epochs=500, verbose=2)

Epoch 470/500
28/28 - 0s - loss: 0.3851 - acc: 0.8260
Epoch 471/500
28/28 - 0s - loss: 0.3905 - acc: 0.8294
Epoch 472/500
28/28 - 0s - loss: 0.3804 - acc: 0.8395
Epoch 473/500
28/28 - 0s - loss: 0.3952 - acc: 0.8339
Epoch 474/500
28/28 - 0s - loss: 0.3846 - acc: 0.8406
Epoch 475/500
28/28 - 0s - loss: 0.3869 - acc: 0.8328
Epoch 476/500
28/28 - 0s - loss: 0.3832 - acc: 0.8395
Epoch 477/500
28/28 - 0s - loss: 0.3949 - acc: 0.8260
Epoch 478/500
28/28 - 0s - loss: 0.3888 - acc: 0.8249
Epoch 479/500
28/28 - 0s - loss: 0.3918 - acc: 0.8361
Epoch 480/500
28/28 - 0s - loss: 0.3900 - acc: 0.8272
Epoch 481/500
28/28 - 0s - loss: 0.3851 - acc: 0.8350
Epoch 482/500
28/28 - 0s - loss: 0.3881 - acc: 0.8339
Epoch 483/500
28/28 - 0s - loss: 0.3845 - acc: 0.8339
Epoch 484/500
28/28 - 0s - loss: 0.3862 - acc: 0.8305
Epoch 485/500
28/28 - 0s - loss: 0.3903 - acc: 0.8339
Epoch 486/500
28/28 - 0s - loss: 0.3917 - acc: 0.8339
Epoch 487/500
28/28 - 0s - loss: 0.3846 - acc: 0.8328
Epoch 488/500
28/28 - 0s - loss: 0.3831 - acc: 0.8328
Epoch 489/500
28/28 - 0s - loss: 0.3838 - acc: 0.8350
Epoch 490/500
28/28 - 0s - loss: 0.3829 - acc: 0.8384
Epoch 491/500
28/28 - 0s - loss: 0.3830 - acc: 0.8283
Epoch 492/500
28/28 - 0s - loss: 0.3813 - acc: 0.8350
Epoch 493/500
28/28 - 0s - loss: 0.3829 - acc: 0.8283
Epoch 494/500
28/28 - 0s - loss: 0.3841 - acc: 0.8328
Epoch 495/500
28/28 - 0s - loss: 0.3829 - acc: 0.8294
Epoch 496/500
28/28 - 0s - loss: 0.3796 - acc: 0.8339
Epoch 497/500
28/28 - 0s - loss: 0.3793 - acc: 0.8238
Epoch 498/500
28/28 - 0s - loss: 0.3811 - acc: 0.8384
Epoch 499/500
28/28 - 0s - loss: 0.3823 - acc: 0.8384
Epoch 500/500
28/28 - 0s - loss: 0.3851 - acc: 0.8350
Epoch 1/500
28/28 - 0s - loss: 1.0275 - acc: 0.5028
Epoch 2/500
28/28 - 0s - loss: 0.6169 - acc: 0.7654
Epoch 3/500
28/28 - 0s - loss: 0.5658 - acc: 0.7879
Epoch 4/500
28/28 - 0s - loss: 0.5232 - acc: 0.7890
Epoch 5/500
28/28 - 0s - loss: 0.5037 - acc: 0.7991
Epoch 6/500
28/28 - 0s - loss: 0.4863 - acc: 0.7957
Epoch 7/500
28/28 - 0s - loss: 0.4799 - acc: 0.8002
Epoch 8/500
28/28 - 0s - loss: 0.4716 - acc: 0.8025
Epoch 9/500
28/28 - 0s - loss: 0.4710 - acc: 0.7823
Epoch 10/500
28/28 - 0s - loss: 0.4533 - acc: 0.8002
Epoch 11/500
28/28 - 0s - loss: 0.4434 - acc: 0.8092
Epoch 12/500
28/28 - 0s - loss: 0.4434 - acc: 0.8081
Epoch 13/500
28/28 - 0s - loss: 0.4397 - acc: 0.8025
Epoch 14/500
28/28 - 0s - loss: 0.4346 - acc: 0.8193
Epoch 15/500
28/28 - 0s - loss: 0.4254 - acc: 0.8171
Epoch 16/500
28/28 - 0s - loss: 0.4277 - acc: 0.8193
Epoch 17/500
28/28 - 0s - loss: 0.4220 - acc: 0.8227
Epoch 18/500
28/28 - 0s - loss: 0.4213 - acc: 0.8126
Epoch 19/500
28/28 - 0s - loss: 0.4223 - acc: 0.8182
Epoch 20/500
28/28 - 0s - loss: 0.4278 - acc: 0.8092
Epoch 21/500
28/28 - 0s - loss: 0.4312 - acc: 0.8182
Epoch 22/500
28/28 - 0s - loss: 0.4184 - acc: 0.8227
Epoch 23/500
28/28 - 0s - loss: 0.4163 - acc: 0.8227
Epoch 24/500
28/28 - 0s - loss: 0.4264 - acc: 0.8103
Epoch 25/500
28/28 - 0s - loss: 0.4265 - acc: 0.8114
Epoch 26/500
28/28 - 0s - loss: 0.4375 - acc: 0.8092
Epoch 27/500
28/28 - 0s - loss: 0.4256 - acc: 0.8204
Epoch 28/500
28/28 - 0s - loss: 0.4261 - acc: 0.8137
Epoch 29/500
28/28 - 0s - loss: 0.4209 - acc: 0.8204
Epoch 30/500
28/28 - 0s - loss: 0.4169 - acc: 0.8316
Epoch 31/500
28/28 - 0s - loss: 0.4240 - acc: 0.8182
Epoch 32/500
28/28 - 0s - loss: 0.4181 - acc: 0.8137
Epoch 33/500
28/28 - 0s - loss: 0.4191 - acc: 0.8215
Epoch 34/500
28/28 - 0s - loss: 0.4176 - acc: 0.8171
Epoch 35/500
28/28 - 0s - loss: 0.4230 - acc: 0.8103
Epoch 36/500
28/28 - 0s - loss: 0.4137 - acc: 0.8204
Epoch 37/500
28/28 - 0s - loss: 0.4182 - acc: 0.8114
Epoch 38/500
28/28 - 0s - loss: 0.4213 - acc: 0.8204
Epoch 39/500
28/28 - 0s - loss: 0.4201 - acc: 0.8272
Epoch 40/500
28/28 - 0s - loss: 0.4186 - acc: 0.8260
Epoch 41/500
28/28 - 0s - loss: 0.4232 - acc: 0.8103
Epoch 42/500
28/28 - 0s - loss: 0.4228 - acc: 0.8103
Epoch 43/500
28/28 - 0s - loss: 0.4301 - acc: 0.8070
Epoch 44/500
28/28 - 0s - loss: 0.4166 - acc: 0.8215
Epoch 45/500
28/28 - 0s - loss: 0.4165 - acc: 0.8193
Epoch 46/500
28/28 - 0s - loss: 0.4225 - acc: 0.8103
Epoch 47/500
28/28 - 0s - loss: 0.4194 - acc: 0.8114
Epoch 48/500
28/28 - 0s - loss: 0.4216 - acc: 0.8260
Epoch 49/500
28/28 - 0s - loss: 0.4159 - acc: 0.8249
Epoch 50/500
28/28 - 0s - loss: 0.4214 - acc: 0.8159
Epoch 51/500
28/28 - 0s - loss: 0.4160 - acc: 0.8249
Epoch 52/500
28/28 - 0s - loss: 0.4103 - acc: 0.8283
Epoch 53/500
28/28 - 0s - loss: 0.4142 - acc: 0.8227
Epoch 54/500
28/28 - 0s - loss: 0.4098 - acc: 0.8193
Epoch 55/500
28/28 - 0s - loss: 0.4286 - acc: 0.8013
Epoch 56/500
28/28 - 0s - loss: 0.4156 - acc: 0.8227
Epoch 57/500
28/28 - 0s - loss: 0.4112 - acc: 0.8193
Epoch 58/500
28/28 - 0s - loss: 0.4159 - acc: 0.8182
Epoch 59/500
28/28 - 0s - loss: 0.4162 - acc: 0.8137
Epoch 60/500
28/28 - 0s - loss: 0.4154 - acc: 0.8182
Epoch 61/500
28/28 - 0s - loss: 0.4149 - acc: 0.8193
Epoch 62/500
28/28 - 0s - loss: 0.4118 - acc: 0.8260
Epoch 63/500
28/28 - 0s - loss: 0.4151 - acc: 0.8182
Epoch 64/500
28/28 - 0s - loss: 0.4146 - acc: 0.8294
Epoch 65/500
28/28 - 0s - loss: 0.4111 - acc: 0.8272
Epoch 66/500
28/28 - 0s - loss: 0.4165 - acc: 0.8159
Epoch 67/500
28/28 - 0s - loss: 0.4098 - acc: 0.8238
Epoch 68/500
28/28 - 0s - loss: 0.4171 - acc: 0.8204
Epoch 69/500
28/28 - 0s - loss: 0.4149 - acc: 0.8227
Epoch 70/500
28/28 - 0s - loss: 0.4373 - acc: 0.8002
Epoch 71/500
28/28 - 0s - loss: 0.4203 - acc: 0.8171
Epoch 72/500
28/28 - 0s - loss: 0.4169 - acc: 0.8182
Epoch 73/500
28/28 - 0s - loss: 0.4095 - acc: 0.8283
Epoch 74/500
28/28 - 0s - loss: 0.4129 - acc: 0.8171
Epoch 75/500
28/28 - 0s - loss: 0.4104 - acc: 0.8249
Epoch 76/500
28/28 - 0s - loss: 0.4135 - acc: 0.8227
Epoch 77/500
28/28 - 0s - loss: 0.4138 - acc: 0.8204
Epoch 78/500
28/28 - 0s - loss: 0.4127 - acc: 0.8238
Epoch 79/500
28/28 - 0s - loss: 0.4193 - acc: 0.8238
Epoch 80/500
28/28 - 0s - loss: 0.4117 - acc: 0.8171
Epoch 81/500
28/28 - 0s - loss: 0.4109 - acc: 0.8238
Epoch 82/500
28/28 - 0s - loss: 0.4128 - acc: 0.8148
Epoch 83/500
28/28 - 0s - loss: 0.4092 - acc: 0.8215
Epoch 84/500
28/28 - 0s - loss: 0.4113 - acc: 0.8204
Epoch 85/500
28/28 - 0s - loss: 0.4133 - acc: 0.8193
Epoch 86/500
28/28 - 0s - loss: 0.4177 - acc: 0.8238
Epoch 87/500
28/28 - 0s - loss: 0.4117 - acc: 0.8126
Epoch 88/500
28/28 - 0s - loss: 0.4275 - acc: 0.8114
Epoch 89/500
28/28 - 0s - loss: 0.4098 - acc: 0.8283
Epoch 90/500
28/28 - 0s - loss: 0.4074 - acc: 0.8215
Epoch 91/500
28/28 - 0s - loss: 0.4099 - acc: 0.8238
Epoch 92/500
28/28 - 0s - loss: 0.4097 - acc: 0.8249
Epoch 93/500
28/28 - 0s - loss: 0.4334 - acc: 0.8103
Epoch 94/500
28/28 - 0s - loss: 0.4207 - acc: 0.8137
Epoch 95/500
28/28 - 0s - loss: 0.4137 - acc: 0.8249
Epoch 96/500
28/28 - 0s - loss: 0.4163 - acc: 0.8148
Epoch 97/500
28/28 - 0s - loss: 0.4154 - acc: 0.8227
Epoch 98/500
28/28 - 0s - loss: 0.4112 - acc: 0.8137
Epoch 99/500
28/28 - 0s - loss: 0.4114 - acc: 0.8193
Epoch 100/500
28/28 - 0s - loss: 0.4119 - acc: 0.8204
Epoch 101/500
28/28 - 0s - loss: 0.4123 - acc: 0.8249
Epoch 102/500
28/28 - 0s - loss: 0.4166 - acc: 0.8103
Epoch 103/500
28/28 - 0s - loss: 0.4214 - acc: 0.8137
Epoch 104/500
28/28 - 0s - loss: 0.4133 - acc: 0.8227
Epoch 105/500
28/28 - 0s - loss: 0.4170 - acc: 0.8182
Epoch 106/500
28/28 - 0s - loss: 0.4139 - acc: 0.8204
Epoch 107/500
28/28 - 0s - loss: 0.4187 - acc: 0.8260
Epoch 108/500
28/28 - 0s - loss: 0.4189 - acc: 0.8171
Epoch 109/500
28/28 - 0s - loss: 0.4121 - acc: 0.8260
Epoch 110/500
28/28 - 0s - loss: 0.4099 - acc: 0.8204
Epoch 111/500
28/28 - 0s - loss: 0.4088 - acc: 0.8148
Epoch 112/500
28/28 - 0s - loss: 0.4118 - acc: 0.8227
Epoch 113/500
28/28 - 0s - loss: 0.4126 - acc: 0.8215
Epoch 114/500
28/28 - 0s - loss: 0.4133 - acc: 0.8283
Epoch 115/500
28/28 - 0s - loss: 0.4092 - acc: 0.8215
Epoch 116/500
28/28 - 0s - loss: 0.4185 - acc: 0.8182
Epoch 117/500
28/28 - 0s - loss: 0.4072 - acc: 0.8148
Epoch 118/500
28/28 - 0s - loss: 0.4084 - acc: 0.8182
Epoch 119/500
28/28 - 0s - loss: 0.4160 - acc: 0.8182
Epoch 120/500
28/28 - 0s - loss: 0.4091 - acc: 0.8249
Epoch 121/500
28/28 - 0s - loss: 0.4117 - acc: 0.8204
Epoch 122/500
28/28 - 0s - loss: 0.4090 - acc: 0.8227
Epoch 123/500
28/28 - 0s - loss: 0.4090 - acc: 0.8260
Epoch 124/500
28/28 - 0s - loss: 0.4141 - acc: 0.8204
Epoch 125/500
28/28 - 0s - loss: 0.4159 - acc: 0.8171
Epoch 126/500
28/28 - 0s - loss: 0.4103 - acc: 0.8260
Epoch 127/500
28/28 - 0s - loss: 0.4097 - acc: 0.8215
Epoch 128/500
28/28 - 0s - loss: 0.4142 - acc: 0.8249
Epoch 129/500
28/28 - 0s - loss: 0.4181 - acc: 0.8159
Epoch 130/500
28/28 - 0s - loss: 0.4130 - acc: 0.8182
Epoch 131/500
28/28 - 0s - loss: 0.4089 - acc: 0.8283
Epoch 132/500
28/28 - 0s - loss: 0.4120 - acc: 0.8215
Epoch 133/500
28/28 - 0s - loss: 0.4114 - acc: 0.8137
Epoch 134/500
28/28 - 0s - loss: 0.4143 - acc: 0.8182
Epoch 135/500
28/28 - 0s - loss: 0.4082 - acc: 0.8215
Epoch 136/500
28/28 - 0s - loss: 0.4218 - acc: 0.8137
Epoch 137/500
28/28 - 0s - loss: 0.4083 - acc: 0.8249
Epoch 138/500
28/28 - 0s - loss: 0.4089 - acc: 0.8171
Epoch 139/500
28/28 - 0s - loss: 0.4114 - acc: 0.8272
Epoch 140/500
28/28 - 0s - loss: 0.4200 - acc: 0.8193
Epoch 141/500
28/28 - 0s - loss: 0.4187 - acc: 0.8148
Epoch 142/500
28/28 - 0s - loss: 0.4098 - acc: 0.8204
Epoch 143/500
28/28 - 0s - loss: 0.4110 - acc: 0.8204
Epoch 144/500
28/28 - 0s - loss: 0.4129 - acc: 0.8159
Epoch 145/500
28/28 - 0s - loss: 0.4078 - acc: 0.8272
Epoch 146/500
28/28 - 0s - loss: 0.4146 - acc: 0.8316
Epoch 147/500
28/28 - 0s - loss: 0.4234 - acc: 0.8227
Epoch 148/500
28/28 - 0s - loss: 0.4049 - acc: 0.8294
Epoch 149/500
28/28 - 0s - loss: 0.4186 - acc: 0.8103
Epoch 150/500
28/28 - 0s - loss: 0.4230 - acc: 0.8159
Epoch 151/500
28/28 - 0s - loss: 0.4078 - acc: 0.8215
Epoch 152/500
28/28 - 0s - loss: 0.4175 - acc: 0.8148
Epoch 153/500
28/28 - 0s - loss: 0.4081 - acc: 0.8305
Epoch 154/500
28/28 - 0s - loss: 0.4116 - acc: 0.8272
Epoch 155/500
28/28 - 0s - loss: 0.4147 - acc: 0.8137
Epoch 156/500
28/28 - 0s - loss: 0.4137 - acc: 0.8182
Epoch 157/500
28/28 - 0s - loss: 0.4154 - acc: 0.8249
Epoch 158/500
28/28 - 0s - loss: 0.4110 - acc: 0.8171
Epoch 159/500
28/28 - 0s - loss: 0.4138 - acc: 0.8171
Epoch 160/500
28/28 - 0s - loss: 0.4132 - acc: 0.8193
Epoch 161/500
28/28 - 0s - loss: 0.4079 - acc: 0.8272
Epoch 162/500
28/28 - 0s - loss: 0.4094 - acc: 0.8193
Epoch 163/500
28/28 - 0s - loss: 0.4105 - acc: 0.8316
Epoch 164/500
28/28 - 0s - loss: 0.4134 - acc: 0.8238
Epoch 165/500
28/28 - 0s - loss: 0.4232 - acc: 0.8193
Epoch 166/500
28/28 - 0s - loss: 0.4139 - acc: 0.8204
Epoch 167/500
28/28 - 0s - loss: 0.4130 - acc: 0.8204
Epoch 168/500
28/28 - 0s - loss: 0.4171 - acc: 0.8193
Epoch 169/500
28/28 - 0s - loss: 0.4129 - acc: 0.8171
Epoch 170/500
28/28 - 0s - loss: 0.4093 - acc: 0.8260
Epoch 171/500
28/28 - 0s - loss: 0.4076 - acc: 0.8227
Epoch 172/500
28/28 - 0s - loss: 0.4112 - acc: 0.8193
Epoch 173/500
28/28 - 0s - loss: 0.4077 - acc: 0.8171
Epoch 174/500
28/28 - 0s - loss: 0.4150 - acc: 0.8159
Epoch 175/500
28/28 - 0s - loss: 0.4094 - acc: 0.8350
Epoch 176/500
28/28 - 0s - loss: 0.4160 - acc: 0.8103
Epoch 177/500
28/28 - 0s - loss: 0.4126 - acc: 0.8204
Epoch 178/500
28/28 - 0s - loss: 0.4151 - acc: 0.8182
Epoch 179/500
28/28 - 0s - loss: 0.4100 - acc: 0.8204
Epoch 180/500
28/28 - 0s - loss: 0.4132 - acc: 0.8092
Epoch 181/500
28/28 - 0s - loss: 0.4126 - acc: 0.8249
Epoch 182/500
28/28 - 0s - loss: 0.4090 - acc: 0.8193
Epoch 183/500
28/28 - 0s - loss: 0.4062 - acc: 0.8294
Epoch 184/500
28/28 - 0s - loss: 0.4097 - acc: 0.8260
Epoch 185/500
28/28 - 0s - loss: 0.4158 - acc: 0.8193
Epoch 186/500
28/28 - 0s - loss: 0.4107 - acc: 0.8283
Epoch 187/500
28/28 - 0s - loss: 0.4112 - acc: 0.8227
Epoch 188/500
28/28 - 0s - loss: 0.4086 - acc: 0.8182
Epoch 189/500
28/28 - 0s - loss: 0.4129 - acc: 0.8159
Epoch 190/500
28/28 - 0s - loss: 0.4135 - acc: 0.8260
Epoch 191/500
28/28 - 0s - loss: 0.4120 - acc: 0.8328
Epoch 192/500
28/28 - 0s - loss: 0.4084 - acc: 0.8260
Epoch 193/500
28/28 - 0s - loss: 0.4102 - acc: 0.8249
Epoch 194/500
28/28 - 0s - loss: 0.4076 - acc: 0.8193
Epoch 195/500
28/28 - 0s - loss: 0.4122 - acc: 0.8193
Epoch 196/500
28/28 - 0s - loss: 0.4073 - acc: 0.8238
Epoch 197/500
28/28 - 0s - loss: 0.4058 - acc: 0.8238
Epoch 198/500
28/28 - 0s - loss: 0.4070 - acc: 0.8260
Epoch 199/500
28/28 - 0s - loss: 0.4133 - acc: 0.8137
Epoch 200/500
28/28 - 0s - loss: 0.4152 - acc: 0.8171
Epoch 201/500
28/28 - 0s - loss: 0.4085 - acc: 0.8193
Epoch 202/500
28/28 - 0s - loss: 0.4091 - acc: 0.8260
Epoch 203/500
28/28 - 0s - loss: 0.4131 - acc: 0.8215
Epoch 204/500
28/28 - 0s - loss: 0.4115 - acc: 0.8249
Epoch 205/500
28/28 - 0s - loss: 0.4091 - acc: 0.8227
Epoch 206/500
28/28 - 0s - loss: 0.4083 - acc: 0.8249
Epoch 207/500
28/28 - 0s - loss: 0.4069 - acc: 0.8294
Epoch 208/500
28/28 - 0s - loss: 0.4185 - acc: 0.8036
Epoch 209/500
28/28 - 0s - loss: 0.4085 - acc: 0.8215
Epoch 210/500
28/28 - 0s - loss: 0.4099 - acc: 0.8249
Epoch 211/500
28/28 - 0s - loss: 0.4058 - acc: 0.8272
Epoch 212/500
28/28 - 0s - loss: 0.4103 - acc: 0.8204
Epoch 213/500
28/28 - 0s - loss: 0.4088 - acc: 0.8238
Epoch 214/500
28/28 - 0s - loss: 0.4131 - acc: 0.8272
Epoch 215/500
28/28 - 0s - loss: 0.4085 - acc: 0.8227
Epoch 216/500
28/28 - 0s - loss: 0.4107 - acc: 0.8238
Epoch 217/500
28/28 - 0s - loss: 0.4143 - acc: 0.8227
Epoch 218/500
28/28 - 0s - loss: 0.4146 - acc: 0.8215
Epoch 219/500
28/28 - 0s - loss: 0.4077 - acc: 0.8260
Epoch 220/500
28/28 - 0s - loss: 0.4059 - acc: 0.8328
Epoch 221/500
28/28 - 0s - loss: 0.4113 - acc: 0.8159
Epoch 222/500
28/28 - 0s - loss: 0.4139 - acc: 0.8227
Epoch 223/500
28/28 - 0s - loss: 0.4228 - acc: 0.8103
Epoch 224/500
28/28 - 0s - loss: 0.4189 - acc: 0.8148
Epoch 225/500
28/28 - 0s - loss: 0.4152 - acc: 0.8215
Epoch 226/500
28/28 - 0s - loss: 0.4251 - acc: 0.8272
Epoch 227/500
28/28 - 0s - loss: 0.4145 - acc: 0.8126
Epoch 228/500
28/28 - 0s - loss: 0.4141 - acc: 0.8103
Epoch 229/500
28/28 - 0s - loss: 0.4054 - acc: 0.8227
Epoch 230/500
28/28 - 0s - loss: 0.4117 - acc: 0.8249
Epoch 231/500
28/28 - 0s - loss: 0.4093 - acc: 0.8204
Epoch 232/500
28/28 - 0s - loss: 0.4075 - acc: 0.8294
Epoch 233/500
28/28 - 0s - loss: 0.4137 - acc: 0.8193
Epoch 234/500
28/28 - 0s - loss: 0.4146 - acc: 0.8182
Epoch 235/500
28/28 - 0s - loss: 0.4194 - acc: 0.8070
Epoch 236/500
28/28 - 0s - loss: 0.4064 - acc: 0.8272
Epoch 237/500
28/28 - 0s - loss: 0.4108 - acc: 0.8238
Epoch 238/500
28/28 - 0s - loss: 0.4083 - acc: 0.8260
Epoch 239/500
28/28 - 0s - loss: 0.4138 - acc: 0.8159
Epoch 240/500
28/28 - 0s - loss: 0.4127 - acc: 0.8294
Epoch 241/500
28/28 - 0s - loss: 0.4061 - acc: 0.8272
Epoch 242/500
28/28 - 0s - loss: 0.4097 - acc: 0.8182
Epoch 243/500
28/28 - 0s - loss: 0.4067 - acc: 0.8305
Epoch 244/500
28/28 - 0s - loss: 0.4067 - acc: 0.8249
Epoch 245/500
28/28 - 0s - loss: 0.4127 - acc: 0.8260
Epoch 246/500
28/28 - 0s - loss: 0.4144 - acc: 0.8238
Epoch 247/500
28/28 - 0s - loss: 0.4088 - acc: 0.8260
Epoch 248/500
28/28 - 0s - loss: 0.4097 - acc: 0.8260
Epoch 249/500
28/28 - 0s - loss: 0.4081 - acc: 0.8272
Epoch 250/500
28/28 - 0s - loss: 0.4067 - acc: 0.8283
Epoch 251/500
28/28 - 0s - loss: 0.4081 - acc: 0.8204
Epoch 252/500
28/28 - 0s - loss: 0.4048 - acc: 0.8283
Epoch 253/500
28/28 - 0s - loss: 0.4082 - acc: 0.8238
Epoch 254/500
28/28 - 0s - loss: 0.4126 - acc: 0.8238
Epoch 255/500
28/28 - 0s - loss: 0.4064 - acc: 0.8272
Epoch 256/500
28/28 - 0s - loss: 0.4077 - acc: 0.8328
Epoch 257/500
28/28 - 0s - loss: 0.4097 - acc: 0.8249
Epoch 258/500
28/28 - 0s - loss: 0.4169 - acc: 0.8215
Epoch 259/500
28/28 - 0s - loss: 0.4073 - acc: 0.8249
Epoch 260/500
28/28 - 0s - loss: 0.4093 - acc: 0.8238
Epoch 261/500
28/28 - 0s - loss: 0.4049 - acc: 0.8238
Epoch 262/500
28/28 - 0s - loss: 0.4060 - acc: 0.8283
Epoch 263/500
28/28 - 0s - loss: 0.4122 - acc: 0.8204
Epoch 264/500
28/28 - 0s - loss: 0.4079 - acc: 0.8328
Epoch 265/500
28/28 - 0s - loss: 0.4088 - acc: 0.8159
Epoch 266/500
28/28 - 0s - loss: 0.4084 - acc: 0.8182
Epoch 267/500
28/28 - 0s - loss: 0.4075 - acc: 0.8260
Epoch 268/500
28/28 - 0s - loss: 0.4107 - acc: 0.8159
Epoch 269/500
28/28 - 0s - loss: 0.4074 - acc: 0.8227
Epoch 270/500
28/28 - 0s - loss: 0.4092 - acc: 0.8215
Epoch 271/500
28/28 - 0s - loss: 0.4083 - acc: 0.8305
Epoch 272/500
28/28 - 0s - loss: 0.4063 - acc: 0.8215
Epoch 273/500
28/28 - 0s - loss: 0.4104 - acc: 0.8283
Epoch 274/500
28/28 - 0s - loss: 0.4089 - acc: 0.8249
Epoch 275/500
28/28 - 0s - loss: 0.4103 - acc: 0.8238
Epoch 276/500
28/28 - 0s - loss: 0.4073 - acc: 0.8305
Epoch 277/500
28/28 - 0s - loss: 0.4087 - acc: 0.8272
Epoch 278/500
28/28 - 0s - loss: 0.4067 - acc: 0.8238
Epoch 279/500
28/28 - 0s - loss: 0.4076 - acc: 0.8294
Epoch 280/500
28/28 - 0s - loss: 0.4174 - acc: 0.8092
Epoch 281/500
28/28 - 0s - loss: 0.4156 - acc: 0.8159
Epoch 282/500
28/28 - 0s - loss: 0.4055 - acc: 0.8316
Epoch 283/500
28/28 - 0s - loss: 0.4126 - acc: 0.8159
Epoch 284/500
28/28 - 0s - loss: 0.4158 - acc: 0.8171
Epoch 285/500
28/28 - 0s - loss: 0.4112 - acc: 0.8204
Epoch 286/500
28/28 - 0s - loss: 0.4108 - acc: 0.8294
Epoch 287/500
28/28 - 0s - loss: 0.4088 - acc: 0.8260
Epoch 288/500
28/28 - 0s - loss: 0.4061 - acc: 0.8328
Epoch 289/500
28/28 - 0s - loss: 0.4094 - acc: 0.8171
Epoch 290/500
28/28 - 0s - loss: 0.4056 - acc: 0.8283
Epoch 291/500
28/28 - 0s - loss: 0.4087 - acc: 0.8148
Epoch 292/500
28/28 - 0s - loss: 0.4110 - acc: 0.8215
Epoch 293/500
28/28 - 0s - loss: 0.4078 - acc: 0.8260
Epoch 294/500
28/28 - 0s - loss: 0.4042 - acc: 0.8238
Epoch 295/500
28/28 - 0s - loss: 0.4096 - acc: 0.8272
Epoch 296/500
28/28 - 0s - loss: 0.4051 - acc: 0.8238
Epoch 297/500
28/28 - 0s - loss: 0.4067 - acc: 0.8283
Epoch 298/500
28/28 - 0s - loss: 0.4062 - acc: 0.8260
Epoch 299/500
28/28 - 0s - loss: 0.4106 - acc: 0.8272
Epoch 300/500
28/28 - 0s - loss: 0.4103 - acc: 0.8215
Epoch 301/500
28/28 - 0s - loss: 0.4077 - acc: 0.8283
Epoch 302/500
28/28 - 0s - loss: 0.4102 - acc: 0.8159
Epoch 303/500
28/28 - 0s - loss: 0.4113 - acc: 0.8193
Epoch 304/500
28/28 - 0s - loss: 0.4158 - acc: 0.8137
Epoch 305/500
28/28 - 0s - loss: 0.4103 - acc: 0.8260
Epoch 306/500
28/28 - 0s - loss: 0.4058 - acc: 0.8249
Epoch 307/500
28/28 - 0s - loss: 0.4124 - acc: 0.8260
Epoch 308/500
28/28 - 0s - loss: 0.4080 - acc: 0.8238
Epoch 309/500
28/28 - 0s - loss: 0.4088 - acc: 0.8227
Epoch 310/500
28/28 - 0s - loss: 0.4194 - acc: 0.8193
Epoch 311/500
28/28 - 0s - loss: 0.4091 - acc: 0.8272
Epoch 312/500
28/28 - 0s - loss: 0.4137 - acc: 0.8227
Epoch 313/500
28/28 - 0s - loss: 0.4081 - acc: 0.8260
Epoch 314/500
28/28 - 0s - loss: 0.4163 - acc: 0.8171
Epoch 315/500
28/28 - 0s - loss: 0.4073 - acc: 0.8238
Epoch 316/500
28/28 - 0s - loss: 0.4073 - acc: 0.8227
Epoch 317/500
28/28 - 0s - loss: 0.4040 - acc: 0.8305
Epoch 318/500
28/28 - 0s - loss: 0.4116 - acc: 0.8305
Epoch 319/500
28/28 - 0s - loss: 0.4083 - acc: 0.8227
Epoch 320/500
28/28 - 0s - loss: 0.4103 - acc: 0.8159
Epoch 321/500
28/28 - 0s - loss: 0.4097 - acc: 0.8215
Epoch 322/500
28/28 - 0s - loss: 0.4050 - acc: 0.8260
Epoch 323/500
28/28 - 0s - loss: 0.4050 - acc: 0.8283
Epoch 324/500
28/28 - 0s - loss: 0.4091 - acc: 0.8283
Epoch 325/500
28/28 - 0s - loss: 0.4038 - acc: 0.8272
Epoch 326/500
28/28 - 0s - loss: 0.4080 - acc: 0.8260
Epoch 327/500
28/28 - 0s - loss: 0.4117 - acc: 0.8193
Epoch 328/500
28/28 - 0s - loss: 0.4079 - acc: 0.8238
Epoch 329/500
28/28 - 0s - loss: 0.4059 - acc: 0.8227
Epoch 330/500
28/28 - 0s - loss: 0.4177 - acc: 0.8227
Epoch 331/500
28/28 - 0s - loss: 0.4060 - acc: 0.8305
Epoch 332/500
28/28 - 0s - loss: 0.4109 - acc: 0.8126
Epoch 333/500
28/28 - 0s - loss: 0.4077 - acc: 0.8294
Epoch 334/500
28/28 - 0s - loss: 0.4114 - acc: 0.8305
Epoch 335/500
28/28 - 0s - loss: 0.4119 - acc: 0.8272
Epoch 336/500
28/28 - 0s - loss: 0.4059 - acc: 0.8238
Epoch 337/500
28/28 - 0s - loss: 0.4057 - acc: 0.8238
Epoch 338/500
28/28 - 0s - loss: 0.4142 - acc: 0.8171
Epoch 339/500
28/28 - 0s - loss: 0.4062 - acc: 0.8260
Epoch 340/500
28/28 - 0s - loss: 0.4071 - acc: 0.8249
Epoch 341/500
28/28 - 0s - loss: 0.4062 - acc: 0.8272
Epoch 342/500

In [ ]:
def getNNPrediction (input, label, predictions = False):
  pred = model.predict(input)
  pred = np.around(pred).astype(int)
  if (predictions):
    return pred.flatten()
  acc_pred = np.mean(pred == label)
  return acc_pred

def getNNScores(validation):
  train_scores, test_scores = getScores(validation)
  acc_pred = getNNPrediction(train_input, train_label) 
  train_scores.append(acc_pred * 100)
  if (validation):
    acc_pred = getNNPrediction(train_input, train_label)
    test_scores.append(acc_pred * 100)
  else:
    test_scores = train_scores
  return train_scores, test_scores

In [ ]:
train_scores, test_scores = getNNScores(False)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/naive_bayes.py:206: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/naive_bayes.py:206: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

In [ ]:
names = list(map(lambda x: x.__class__.__name__, classifiers))
names.append("Neural network")
models = pd.DataFrame({
    'models': names,
    'train-accuracy': train_scores,
    'validation-accuracy': test_scores 
})
models.sort_values(by='validation-accuracy', ascending=False)

                   models  train-accuracy  validation-accuracy
6  DecisionTreeClassifier       89.560000            89.560000
7  RandomForestClassifier       89.560000            89.560000
2    KNeighborsClassifier       86.200000            86.200000
8          Neural network       83.501684            83.501684
4               LinearSVC       79.120000            79.120000
0                     SVC       78.230000            78.230000
5           SGDClassifier       75.760000            75.760000
3              Perceptron       74.970000            74.970000
1              GaussianNB       74.300000            74.300000

                   models  train-accuracy  validation-accuracy
6  DecisionTreeClassifier        89.56000             89.56000
7  RandomForestClassifier        89.56000             89.56000
2    KNeighborsClassifier        85.41000             85.41000
8          Neural network        83.05275             83.05275
4               LinearSVC        79.01000             79.01000
0                     SVC        78.34000             78.34000
3              Perceptron        74.86000             74.86000
1              GaussianNB        71.16000             71.16000
5           SGDClassifier        38.38000             38.38000

In [ ]:
# predictions = getNNPrediction(test_data_n, [], True)
predictions = getSubmission('DecisionTreeClassifier')
output = pd.DataFrame({'PassengerId': test_df.PassengerId, 'Survived': predictions})

output.to_csv('my_submission.csv', index=False)

DecisionTreeClassifier

In [ ]:
test_validation = train_df[:int(length*split_size)]
test_validation.loc[:, 'prediction'] = getNNPrediction(train_input, [], True)
cols_val = ['Survived', 'prediction']
cols_val = cols_val + list(cols)
wrongPred = test_validation.loc[test_validation['prediction'] != test_validation['Survived'], cols_val]
wrongPred.groupby(['prediction']).mean().astype(int)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

            Survived  Age  Sex  Pclass  ...  Embarked  Title  isAlone  AgeClass
prediction                              ...
0                  1    2    0       2  ...         0      1        0         3
1                  0    1    0       2  ...         0      2        0         2

[2 rows x 9 columns]

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

            Survived  Age  Sex  Pclass  ...  Title  isAlone  AgeClass  custom
prediction                              ...
0                  1    2    0       2  ...      1        0         3       6
1                  0    1    0       2  ...      2        0         2       6

[2 rows x 10 columns]

In [ ]:
acc = history.history['acc']
loss = history.history['loss']
val_acc = history.history['val_acc']
val_loss = history.history['val_loss']
epochs = range(len(acc))

plt.plot(acc)
plt.plot(val_acc)
plt.xlabel('Epochs')
plt.ylabel('accuracy')
plt.legend(['Accuracy', 'Validation accuracy'])
plt.title('Accuracy')

KeyError: ignored

KeyError: ignored